<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>

    <nav
      class="navbar navbar-light bg-light m-4"
      style="display: flex; justify-content: space-between"
    >
      <a><h3>{{ title }}</h3></a>
      <div id="navbar-main">
        
        <div v-if="isLogin == false" id="navbar-beforelogin">
          <a>Register</a>
          <a>Login</a>
        </div>

        <div v-if="isLogin == true" id="navbar-afterlogin">
          <button @click.prevent="changePage('addpage')" type="button" class="btn btn-primary">{{ addtaskbtn }}</button>
          <button type="button" class="btn btn-danger" id="logout-btn">
            {{ logoutbtn }}
          </button>
        </div>

      </div>
    </nav>


    <div class="container-fluid pt-3">
      <!-- Login Page  -->
      <div v-if="page == 'login'" id="login-page">
        <!-- Login Form  -->
        <div
          id="login-form"
          style="margin: 20px; padding-left: 25vh; padding-right: 25vh"
        >
          <form
            class="border border-5"
            style="padding: 20px"
            @submit.prevent="loginform"
          >
            <h3>Login Page</h3>
            <div class="mb-3">
              <label for="email-login" class="form-label">Email</label>
              <input
                v-model="inputloginmail"
                type="email"
                class="form-control"
                id="email-login"
              />
            </div>
            <div class="mb-3">
              <label for="password-login" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password-login"
                v-model="inputloginpass"
              />
            </div>
            <div class="mb-3" id="form-login-button">
              <button type="submit" class="btn btn-primary" id="login-btn">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>

      <!--  Register Page  -->
      <div v-else-if="page == 'register'" id="register-page">
        <!-- Register Form  -->
        <div
          id="register-form"
          style="margin: 20px; padding-left: 25vh; padding-right: 25vh"
        >
          <form class="border border-5" style="padding: 20px">
            <h3>Register Page</h3>
            <div class="mb-3">
              <label for="username-register" class="form-label">Username</label>
              <input type="text" class="form-control" id="username-register" />
            </div>
            <div class="mb-3">
              <label for="email-register" class="form-label">Email</label>
              <input type="text" class="form-control" id="email-register" />
            </div>
            <div class="mb-3">
              <label for="password-register" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password-register"
              />
            </div>
            <div class="mb-3">
              <label for="tournament-register" class="form-label">Nama Turnamen</label>
              <input type="text" class="form-control" id="tournament-register" />
            </div>
            <div class="mb-3">
              <label for="namegame-register" class="form-label">Pilih Game</label>
              <select id="namegame-register" class="form-select">
                <option selected>Pilih Urutan Tim</option>
                <option value="R6">Rainbow 6 Siege</option>
                <option value="LOL">League of Legend</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="description-register" class="form-label">Description</label>
              <input type="text" class="form-control" id="description-register" />
            </div>
            <div class="mb-3" id="form-login-button">
              <button type="submit" class="btn btn-primary" id="register-btn">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>

      <!--  Add Team -->
      <div v-else-if="page == 'register'" id="register-page">
        <!-- Add Team Form  -->
        <div
          id="register-form"
          style="margin: 20px; padding-left: 25vh; padding-right: 25vh"
        >
          <form class="border border-5" style="padding: 20px">
            <h3>Add Team Page</h3>
            <div class="mb-3">
              <label for="name-addteam" class="form-label">Nama Tim</label>
              <input type="text" class="form-control" id="name-addteam" placeholder="Nama Tim"/>
            </div>
            <div class="mb-3">
              <label for="description-addteam" class="form-label">Description</label>
              <input type="text" class="form-control" id="description-addteam" placeholder="Description"/>
            </div>
            <div class="mb-3">
              <label for="select-team" class="form-label">Pilih Urutan Tim</label>
              <select id="select-team" class="form-select">
                <option selected>Pilih Urutan Tim</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </div>
            <div class="mb-3" id="form-login-button">
              <button type="submit" class="btn btn-primary" id="addteam-btn">
                Add Team
              </button>
            </div>
          </form>
        </div>
      </div>

      <div style="margin: 20px; padding-left: 25vh; padding-right: 25vh">
        <div class="card bg-light">
          <div class="card-body">
            <h6 class="card-title text-uppercase text-truncate py-2">
              BackLog
            </h6>
            <div class="items border border-light">
              <!-- CARD HASIL LOOPING TERGANTUNG CATEGORY -->
              <div 
              v-for="(todo, i) in todos" 
              :key="i"
              class="card shadow-sm" 
              id="cd1" 
              >
                <div class="card-body p-2">
                  <div class="card-title">
                    <p class="lead font-weight-light">
                      {{no}}.{{ Team.name }}
                    </p>
                  </div>
                  <div class="desc">
                    <p>{{ Team.description }}</p>
                  </div>
                  <button class="btn btn-primary btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm">Delete</button>
                </div>
              </div>
              <br />
            </div>
          </div>
          <button @click.prevent="changePage('addpage')" type="button" class="btn btn-primary">{{ Create Bracket }}</button>
        </div>
      </div>

    </div>



    <div class="d-flex justify-content-center"">
      <h3>{{ title }}</h3>
      <br /><br /><br /><br /><br />

    </div>
    <div id="bracket-tournament" class="container-fluid pt-3  wrapper">
      
      <div class="item">
        <div class="item-parent">
          <p>Pemenang</p>
        </div>
        <div class="item-childrens">
          <div class="item-child">
            <div class="item">
              <div class="item-parent"><p>Finalis</p></div>
              <div class="item-childrens">
                <div class="item-child">
                  <div class="item">
                    <div class="item-parent">
                      <p>Semi Finalis</p>
                    </div>

                    <div class="item-childrens">
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-child">
                  <div class="item">
                    <div class="item-parent">
                      <p>Semi Finalis</p>
                    </div>

                    <div class="item-childrens">
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-child">
            <div class="item">
              <div class="item-parent"><p>Finalis</p></div>
              <div class="item-childrens">
                <div class="item-child">
                  <div class="item">
                    <div class="item-parent">
                      <p>Semi Finalis</p>
                    </div>

                    <div class="item-childrens">
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-child">
                  <div class="item">
                    <div class="item-parent">
                      <p>Semi Finalis</p>
                    </div>

                    <div class="item-childrens">
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                      <div class="item-child">
                        <p>Peserta</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="margin: 20px; width: 50%; padding-left: 25vh; padding-right: 25vh">
        <div class="card bg-light">
          <div class="card-body">
            <h6 class="card-title text-uppercase text-truncate py-2">
              Whats Up With this Game??
            </h6>
            <div class="items border border-light">
              <!-- CARD HASIL LOOPING TERGANTUNG CATEGORY -->
              <div 
              v-for="(todo, i) in todos" 
              :key="i"
              class="card shadow-sm" 
              id="cd1" 
              >
                <div class="card-body p-2">
                  Ini nanti twitter isinya
                </div>

              </div>
              <br />
            </div>
          </div>
          <button @click.prevent="changePage('addpage')" type="button" class="btn btn-primary">{{ Reload Tweet }}</button>
        </div>
      </div>
    </div>
  </body>
</html>
