nav {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
}
nav a {
  margin-left: 250px;
}
nav .btn-primary {
    position: fixed;
    right: 250px;
}
nav .btn-light {
    position: fixed;
    right: 350px;
    background-color: #f6f6f6;
}
nav p {
    background-color: #f6f6f6;
    width: 100%;
    position: fixed;
    left: 0;
    top: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
nav p a{
    color: blue;
}
.search-car {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.tab-pane {
    padding: 30px;
}
.form-login input {
    width: 100%;
}
.form-login {
    padding-left: 10px;
    padding-right: 10px;
}
.modalfooter{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.register {
    background-color: #1ba0e3;
    padding-left: 250px;
    padding-right: 250px;
}

.register-bottom {
    background-color: #e6eaed;
}

/* FORM */
  
  .col-50 {
    -ms-flex:   25%; /* IE10 */
    flex: 25%;
  }
  
  .col-75 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container, .set-color {
    background-color: #f2f2f2;
    padding: 10px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;
  }
  
  .container input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .container label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .container .btn:hover {
    background-color: #45a049;
  }
  
  .container a {
    color: #2196F3;
  }
  
  .container hr {
    border: 1px solid lightgrey;
  }
  
  .container span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
  }

.register-toptext {
    background-color: #1ba0e3;
}

.col img {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reward {
    margin-top: 50px;
}