<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    
    <!-- NAVIGATION BAR -->
    <section id="navigation-bar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand">PIXELATES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link active">HOME
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">GALLERIES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">SUBMIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">DISCOVERS</a>
                </li>

              </ul>
            </div>
            <button class="btn btn-danger my-2 my-sm-0" type="button">LOGOUT</button>
          </nav>
    </section>

      <!-- IMAGE BANNER -->
    <!-- <div class="container-fluid p-0 mb-3">
        <div class="image-widescreen text-center" style="background-image: url('https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); ">
            <div class="content-center">
                <p class="h1 text-light">WELCOME TO PIXELATES</p>
                <p class="h3 text-light">DISCOVER INSPIRATIONAL PHOTOS</p>
            </div>  
        </div>
    </div> -->

    <!-- CATEGORIES
    <div class="container">
        <h1>CATEGORIES</h1>
        <hr>
        <div class="row">
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img src="https://images.pexels.com/photos/5282269/pexels-photo-5282269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  <div class="hover-overlay"></div>
                  <div class="hover-1-content px-5 py-4">
                    <h3 class="text-center hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Nature</span></h3>
                    <p class="text-center hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img src="https://images.pexels.com/photos/65289/polar-bear-bear-teddy-sleep-65289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  <div class="hover-overlay"></div>
                  <div class="hover-1-content px-5 py-4">
                    <h3 class="text-center hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Animals</span></h3>
                    <p class="text-center hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img src="https://images.pexels.com/photos/1707823/pexels-photo-1707823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  <div class="hover-overlay"></div>
                  <div class="hover-1-content px-5 py-4">
                    <h3 class="text-center hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Architectural</span></h3>
                    <p class="text-center hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img src="https://images.pexels.com/photos/2693212/pexels-photo-2693212.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  <div class="hover-overlay"></div>
                  <div class="hover-1-content px-5 py-4">
                    <h3 class="text-center hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Abstract</span></h3>
                    <p class="text-center hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- MAIN CONTENT -->
    <section id="main-content">
        <div class="container">
            <h1>DISCOVER PHOTOS</h1>
            <hr class="mt-3">
            <div class="row">
                <div class="col-4 mb-3">
                    <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Detail </span></h3>
                        <button class="hover-2-description mb-0 btn btn-success">Favorite</button>
                    </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Detail </span></h3>
                        <button class="hover-2-description mb-0 btn btn-success">Favorite</button>
                    </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Detail </span></h3>
                        <button class="hover-2-description mb-0 btn btn-success">Favorite</button>
                    </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Detail </span></h3>
                        <button class="hover-2-description mb-0 btn btn-success">Favorite</button>
                    </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Detail </span></h3>
                        <button class="hover-2-description mb-0 btn btn-success">Favorite</button>
                    </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Detail </span></h3>
                        <button class="hover-2-description mb-0 btn btn-success">Favorite</button>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
   
    <!-- DETAIL PAGE -->
    <section id="detail-page">
        <div class="container mt-5">
            <h1 class="mb-3">DETAIL</h1>
            <hr>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="mb-3" src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="" style="width: 50%;">
                <p class="h3 text-muted">PUT DESCRIPTION HERE</p>
                <button class="btn btn-success mb-3">ADD TO FAVORITES</button>
            </div>
        </div>
            <!-- COMMENT SECTION -->
        <div class="row d-flex justify-content-center mt-100 mb-100">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-3">Latest Comments</h4>
                        <button class="btn btn-primary rounded-pill">POST COMMENT</button>
                    </div>
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> <button type="button" class="btn btn-info btn-sm">Edit</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                            </div>
                        </div> <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text active w-100">
                                <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
                                <div class="comment-footer"> <span class="text-muted float-right">May 10, 2019</span> <button type="button" class="btn btn-info btn-sm">Edit</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                            </div>
                        </div> <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                                <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> <button type="button" class="btn btn-info btn-sm">Edit</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                            </div>
                        </div>
                        
                    </div> <!-- Card -->
                </div>
            </div>
        </div>
    </section>

    
    
    <!-- GALLERIES SECTION -->
    <section id="gallery-section">
        <div class="container">
            <button class="mb-3 btn btn-large btn-info">YOUR IMAGES</button>
            <br>
            <button class="btn btn-large btn-info">YOUR FAVORITES</button>

        </div>
    </section>

    <!-- USER IMAGES SECTION -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>